.modal-content {
	border-radius: 0;
	border:none;
}

.frm_form_fields div input {
	height:50px !important;
	border-radius: 0 !important;
	border: none !important;
	background-color: #E8E8E8 !important;
	transition: all 0.3s linear;
	box-shadow: 0px 0px 0px #969696 !important;
}
.frm_form_fields div input:focus {
	box-shadow: 0px 0px 10px #969696 !important;
}
.frm_form_fields div label {
	color: #696969 !important;
	font-weight: 100 !important;
}
.modal {
	padding-right: 0px !important;
}

.modal-close-btn {
	font-size : 2em;
}

.modal-header .close {
	margin-top: -0.5em;
}



